
   .main{
   
    
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: Black 900;
      font-variation-settings:
        "wdth" 110.2,
        "YTLC" 500;
    

   }
   .cursive{
    
      font-family: "Ballet", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    
   }
  
  
